### Letícia Altemari Nogueira
#### Projeto Final

In [2]:
import pandas as pd

###**Questão 1**

####**A**

In [50]:
df = pd.read_csv('https://raw.githubusercontent.com/lelealt/projetoFinal/main/netflix_titles.csv')

####**B**

In [5]:
df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [6]:
df.tail(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

####**C**

In [9]:
print('Tamanho do data frame: {}'.format(df.shape))

Tamanho do data frame: (8807, 12)

####**D**

In [13]:
print('Colunas do data frame: {}'.format(df.columns))

Colunas do data frame: Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

####**E**

In [17]:
print('Tipos de cada coluna do data frame: \n{}'.format(df.dtypes))

Tipos de cada coluna do data frame:
show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

####**F**

In [25]:
print('Infos gerais do data frame:')
df.info()

Infos gerais do data frame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

####**G**

In [26]:
print('Infos estatísticas (variáveis numéricas): \n')
df.describe()

Infos estatísticas (variáveis numéricas):

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

####**H**

In [27]:
print('Infos estatísticas (variáveis não numéricas): \n')
df.describe(include='object')

Infos estatísticas (variáveis não numéricas):

,show_id,type,title,director,cast,country,date_added,rating,duration,listed_in,description
count,8807,8807,8807,6173,7982,7976,8797,8803,8804,8807,8807
unique,8807,2,8807,4528,7692,748,1767,17,220,514,8775
top,s1,Movie,Dick Johnson Is Dead,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2818,109,3207,1793,362,4

####**I**

In [36]:
print('Diretor com mais séries e filmes: {}'.format(df['director'].value_counts().keys()[0]))
print('Segundo País com mais séries e filmes: {}'.format(df['country'].value_counts().keys()[1]))
print('Ano com mais séries e filmes: {}'.format(df['release_year'].value_counts().keys()[0]))

Diretor com mais séries e filmes: Rajiv Chilaka
Segundo País com mais séries e filmes: India
Ano com mais séries e filmes: 2018

####**J**

##### Soma e Percentual dos dados nulos

In [37]:
df.isna().sum()[df.isna().sum()>0]

director      2634
cast           825
country        831
date_added      10
rating           4
duration         3
dtype: int64

In [38]:
(df.isna().sum()/len(df)*100)[df.isna().sum()>0]

director      29.908028
cast           9.367549
country        9.435676
date_added     0.113546
rating         0.045418
duration       0.034064
dtype: float64

##### Soma e Percentual dos dados não nulos

In [39]:
df.notna().sum()

show_id         8807
type            8807
title           8807
director        6173
cast            7982
country         7976
date_added      8797
release_year    8807
rating          8803
duration        8804
listed_in       8807
description     8807
dtype: int64

In [40]:
round(df.notna().sum()/df.shape[0]*100,2)

show_id         100.00
type            100.00
title           100.00
director         70.09
cast             90.63
country          90.56
date_added       99.89
release_year    100.00
rating           99.95
duration         99.97
listed_in       100.00
description     100.00
dtype: float64

####**L**

In [51]:
df.fillna(value={'director':'NA', 'country':'NA'}, inplace=True)
df.isna().sum()[df.isna().sum()>0]

cast          825
date_added     10
rating          4
duration        3
dtype: int64

####**M**

In [52]:
print('Shape antes da remoção: {}'.format(df.shape))
df.drop(columns=['cast','rating','description'], inplace=True)
print('Shape após a remoção: {}'.format(df.shape))

Shape antes da remoção: (8807, 12)
Shape após a remoção: (8807, 9)

####**N**

In [54]:
df.dropna(inplace=True)
df.isna().sum()

show_id         0
type            0
title           0
director        0
country         0
date_added      0
release_year    0
duration        0
listed_in       0
dtype: int64

####**O**

In [56]:
print('Shape após a remoção dos dados nulos: {}'.format(df.shape))

Shape após a remoção dos dados nulos: (8794, 9)

####**P**

In [60]:
df['date_added'] = pd.to_datetime(df['date_added'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8794 entries, 0 to 8806
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8794 non-null   object
 1   type          8794 non-null   object
 2   title         8794 non-null   object
 3   director      8794 non-null   object
 4   country       8794 non-null   object
 5   date_added    8794 non-null   datetime64[ns]
 6   release_year  8794 non-null   int64
 7   duration      8794 non-null   object
 8   listed_in     8794 non-null   object
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 687.0+ KB

####**Q**

In [61]:
df['date_added_year'] = df['date_added'].dt.year
df['date_added_month'] = df['date_added'].dt.month
df['date_added_day'] = df['date_added'].dt.day

df.head(3)

,show_id,type,title,director,country,date_added,release_year,duration,listed_in,date_added_year,date_added_month,date_added_day
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,2021-09-25,2020,90 min,Documentaries,2021,9,25
1,s2,TV Show,Blood & Water,NA,South Africa,2021-09-24,2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries",2021,9,24
2,s3,TV Show,Ganglands,Julien Leclercq,NA,2021-09-24,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act...",2021,9,24

####**R**

In [62]:
print('Dia com mais séries e filmes adicionados: {}'.format(df['date_added_day'].value_counts().keys()[0]))
print('Mês com menos séries e filmes adicionados: {}'.format(df['date_added_month'].value_counts().keys()[-1]))
print('Ano com mais séries e filmes adicionados: {}'.format(df['date_added_year'].value_counts().keys()[0]))

Dia com mais séries e filmes adicionados: 1
Mês com menos séries e filmes adicionados: 2
Ano com mais séries e filmes adicionados: 2019

####**S**

In [64]:
df[df['listed_in'].str.contains('Drama')]

,show_id,type,title,director,country,date_added,release_year,duration,listed_in,date_added_year,date_added_month,date_added_day
1,s2,TV Show,Blood & Water,NA,South Africa,2021-09-24,2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries",2021,9,24
5,s6,TV Show,Midnight Mass,Mike Flanagan,NA,2021-09-24,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries",2021,9,24
7,s8,Movie,Sankofa,Haile Gerima,"United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,125 min,"Dramas, Independent Movies, International Movies",2021,9,24
9,s10,Movie,The Starling,Theodore Melfi,United States,2021-09-24,2021,104 min,"Comedies, Dramas",2021,9,24
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Germany, Czech Republic",2021-09-23,2021,127 min,"Dramas, International Movies",2021,9,23
...,...,...,...,...,...,...,...,...,...,...,...,...
8799,s8800,Movie,Zenda,Avadhoot Gupte,India,2018-02-15,2009,120 min,"Dramas, International Movies",2018,2,15
8800,s8801,TV Show,Zindagi Gulzar Hai,NA,Pakistan,2016-12-15,2012,1 Season,"International TV Shows, Romantic TV Shows, TV ...",2016,12,15
8801,s8802,Movie,Zinzana,Majid Al Ansari,"United Arab Emirates, Jordan",2016-03-09,2015,96 min,"Dramas, International Movies, Thrillers",2016,3,9
8802,s8803,Movie,Zodiac,David Fincher,United States,2019-11-20,2007,158 min,"Cult Movies, Dramas, Thrillers",2019,11,20
8806,s8807,Movie,Zubaan,Mozez Singh,India,2019-03-02,2015,111 min,"Dramas, International Movies, Music & Musicals",2019,3,2

####**T**

In [65]:
df['type'].value_counts()

Movie      6128
TV Show    2666
Name: type, dtype: int64

In [66]:
round(df['type'].value_counts()/len(df)*100,2)

Movie      69.68
TV Show    30.32
Name: type, dtype: float64